@model ML.Cocktail
@{
    ViewBag.Title = "GetCocktail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <section>
        <h2>Cocktail</h2>

    </section>

    <hr />
    <div class="container-fluid">


        @using (Html.BeginForm("GetCocktail", "Thecocktaildb", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {


            <div class="row">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.Label("Nombre Cocktail")
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Ingrediente")
                        @Html.TextBoxFor(model => model.Ingrediente, new { @class = "form-control", @id = "txtIngrediente", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Ingrediente, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input type="submit" value="Buscar" class="btn btn-info" />

                </div>

            </div>

        }

    </div>
   
   <div class="row">
       @foreach(ML.Cocktail cocktail in Model.drinks)
       {
           if (cocktail.strIngredient1 == null)
           {
       <div class="row">
           <div class="col-sm-4">
               <div class="card" style="width: 18rem;">
                   <img class="card-img-top">
                   <img src="@cocktail.strDrinkThumb" width="150px" height="150px" />
                   <h5 class="card-title card-header text-center bg-secondary">Nombre: @cocktail.strDrink</h5>
               </div>
           </div>
       </div>
           
           }
           else
           {
   <div class="row">
       <div class="col-sm-4">
           <div class="card text-white bg-dark border-success mb-3 border-4 " style="width: 18rem;">
               <img class="card-img-top">
               <img src="@cocktail.strDrinkThumb" width="150px" height="150px" />
               <h5 class="card-title card-header text-center bg-secondary">Nombre: @cocktail.strDrink</h5>
               <div class="card-body">
                   <ul class="list-group list-group-item-flush">
                       <p class="card-text">Ingrediente:@cocktail.strIngredient1 </p>
                       <p class="card-text">Ingrediente:@cocktail.strIngredient2 </p>
                       <p class="card-text">Ingrediente:@cocktail.strIngredient3 </p>
                       <p class="card-text">Ingrediente:@cocktail.strInstructions </p>

                   </ul>
               </div>
           </div>
       </div>
   </div>
         
           }
       }
       </div>
 </div>
