@model ML.Cocktail
@{
    ViewBag.Title = "GetCocktail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <section>
        <h2>Cocktail</h2>

    </section>

    <hr />
    <div class="container-fluid">

        @using (Html.BeginForm("GetCocktail", "Thecocktaildb", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
               <div class="row">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.Label("Nombre Cocktail")
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Ingrediente")
                        @Html.TextBoxFor(model => model.Ingrediente, new { @class = "form-control", @id = "txtIngrediente", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Ingrediente, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <br />
                    <input type="submit" value="Buscar" class="btn btn-info" />

                </div>

            </div>

        }
      <br />
    </div>
   
       @foreach(ML.Cocktail cocktail in Model.drinks)
       {
           if (cocktail.strIngredient1 == null)
           {
<div class="row">
    <div class="form-group">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top">
                <img src="@cocktail.strDrinkThumb" width="150px" height="150px" />
                <h5 class="card-title card-header text-center bg-secondary">Nombre: @cocktail.strDrink</h5>
            </div>
        </div>
    </div>
</div>
    }
    else
    {
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-white bg-dark border-success mb-3 border-4 " style="width: 18rem;">
                <img src="@cocktail.strDrinkThumb" width="150px" height="150px" />
                <h5 class="card-title card-header text-center bg-secondary">Nombre: @cocktail.strDrink</h5>
                <div class="card-body">
                    <p class="card-title card-header text-center bg-secondary">Ingredientes:
                     @cocktail.strIngredient1  <img src="@cocktail.img1" width="20px" height="20px">
                     @cocktail.strIngredient2  <img src="@cocktail.img2" width="20px" height="20px">
                     @cocktail.strIngredient3  <img src="@cocktail.img3" width="20px" height="20px">
                     Instrucciones: @cocktail.strInstructions </p>
                </div>
            </div>
        </div>
    </div>
    }
    <br>
    }
</div>

